@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {

background-color: #f8f9fa;
font-family: 'Ubuntu',
sans-serif;
padding-top: 50px;
}
.jumbotron {
    background-color: #dee2e6;
}

.navbar {

background-color: #e9ecef;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
width: 100%;
top: 0;
position: fixed;
z-index: 999999;
}
.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {

padding-right: 1em;
}
footer {
    background-color: #dee2e6;
    bottom: 0;
    width: 100%;
    height: 250px;
    padding-top: 30px;
}

.img-fluid {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 10px rgba(0, 0, 0, 0.5);
}